In [4]:
Name Shrutika
ROLL PA 29
BDA LAB 3

SyntaxError: invalid syntax (<ipython-input-4-2da07e6dafb1>, line 1)

In [15]:
#import mongo client to connect
from pymongo import MongoClient
#Creating instance of mongoclient connection string
client=MongoClient()

In [16]:
client=MongoClient('localhost',27017)

In [17]:
db=client.Employee2020

In [18]:
#create collections and insert documents
emp=db.emp
emp_1={
    'eno':1,
    'name':'Manish Sharma',
    'salary':10000,
    'position':'Salesman'
}
emp_2={
    'eno':2,
    'name':'Sandeep Singh',
    'salary':50000,
    'position':'Managing Director'
}
emp_3={
    'eno':3,
    'name':'Shilpa Khanna',
    'salary':25000,
    'position':'Senior Executive Officer'
}
emp_4={
    'eno':4,
    'name':'Mahesh Kumar',
    'salary':5000,
    'position':'Clerk'
}
new_result=emp.insert_many([emp_1,emp_2,emp_3,emp_4])
print('Multiple posts: {0}'.format(new_result.inserted_ids))

Multiple posts: [ObjectId('5f4dd88bf4e46dcb745f5455'), ObjectId('5f4dd88bf4e46dcb745f5456'), ObjectId('5f4dd88bf4e46dcb745f5457'), ObjectId('5f4dd88bf4e46dcb745f5458')]

In [19]:
#Finding one document
res_1=emp.find_one({'eno':1})
print(res_1)

{'_id': ObjectId('5f4dd88bf4e46dcb745f5455'), 'eno': 1, 'name': 'Manish Sharma', 'salary': 10000, 'position': 'Salesman'}

In [20]:
#Counting no. of documents
emp.count_documents({})

4

In [21]:
#Deleting one document
emp.delete_one({'name':'Mahesh Kumar'})

In [8]:
#Counting no. of documents
emp.count_documents({})

3

In [22]:
#Updating single document
emp.update({'name':'Shilpa Khanna'},{'$set':{'hobby':'Dancing'}})

C:\Users\Arpit\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [23]:
#Getting all records
for emp1 in emp.find():
    print(emp1)

{'_id': ObjectId('5f4dd88bf4e46dcb745f5455'), 'eno': 1, 'name': 'Manish Sharma', 'salary': 10000, 'position': 'Salesman'}
{'_id': ObjectId('5f4dd88bf4e46dcb745f5456'), 'eno': 2, 'name': 'Sandeep Singh', 'salary': 50000, 'position': 'Managing Director'}
{'_id': ObjectId('5f4dd88bf4e46dcb745f5457'), 'eno': 3, 'name': 'Shilpa Khanna', 'salary': 25000, 'position': 'Senior Executive Officer', 'hobby': 'Dancing'}

In [24]:
#Getting some records by passing a query with a condition
query={'salary':{'$gt':20000}}
doc=emp.find(query)
for i in doc:
    print(i)

{'_id': ObjectId('5f4dd88bf4e46dcb745f5456'), 'eno': 2, 'name': 'Sandeep Singh', 'salary': 50000, 'position': 'Managing Director'}
{'_id': ObjectId('5f4dd88bf4e46dcb745f5457'), 'eno': 3, 'name': 'Shilpa Khanna', 'salary': 25000, 'position': 'Senior Executive Officer', 'hobby': 'Dancing'}

In [25]:
#Sorting on basis of name in ascending order
mydoc=emp.find().sort('name') #Ascending
for i in mydoc:
    print(i)

{'_id': ObjectId('5f4dd88bf4e46dcb745f5455'), 'eno': 1, 'name': 'Manish Sharma', 'salary': 10000, 'position': 'Salesman'}
{'_id': ObjectId('5f4dd88bf4e46dcb745f5456'), 'eno': 2, 'name': 'Sandeep Singh', 'salary': 50000, 'position': 'Managing Director'}
{'_id': ObjectId('5f4dd88bf4e46dcb745f5457'), 'eno': 3, 'name': 'Shilpa Khanna', 'salary': 25000, 'position': 'Senior Executive Officer', 'hobby': 'Dancing'}

In [26]:
#Sorting on basis of name in descending order
mydoc=emp.find().sort('name',-1) #Descending
for i in mydoc:
    print(i)

{'_id': ObjectId('5f4dd88bf4e46dcb745f5457'), 'eno': 3, 'name': 'Shilpa Khanna', 'salary': 25000, 'position': 'Senior Executive Officer', 'hobby': 'Dancing'}
{'_id': ObjectId('5f4dd88bf4e46dcb745f5456'), 'eno': 2, 'name': 'Sandeep Singh', 'salary': 50000, 'position': 'Managing Director'}
{'_id': ObjectId('5f4dd88bf4e46dcb745f5455'), 'eno': 1, 'name': 'Manish Sharma', 'salary': 10000, 'position': 'Salesman'}

In [27]:
#Deleting many documents at a time
query={'name':{'$regex':'^S'}}
x=emp.delete_many(query)
print(x.deleted_count," documents deleted.")

2  documents deleted.

In [28]:
#Inserting multiple documents again
emp_2={
    'eno':2,
    'name':'Sandeep Singh',
    'salary':50000,
    'position':'Managing Director'
}
emp_3={
    'eno':3,
    'name':'Shilpa Khanna',
    'salary':25000,
    'position':'Senior Executive Officer'
}
emp_4={
    'eno':4,
    'name':'Mahesh Kumar',
    'salary':5000,
    'position':'Clerk'
}
new_result=emp.insert_many([emp_2,emp_3,emp_4])
print('Multiple posts: {0}'.format(new_result.inserted_ids))

Multiple posts: [ObjectId('5f4dd94cf4e46dcb745f5459'), ObjectId('5f4dd94cf4e46dcb745f545a'), ObjectId('5f4dd94cf4e46dcb745f545b')]

In [29]:
#Updating many documents at a time
myquery = { 'name': { '$regex': '^S' } }
newvalues = { "$set": { 'hobby': 'Dancing' } }

x = emp.update_many(myquery, newvalues)
print(x.modified_count, "documents updated.")

2 documents updated.

In [30]:
#Finding all the records
for emp1 in emp.find():
    print(emp1)

{'_id': ObjectId('5f4dd88bf4e46dcb745f5455'), 'eno': 1, 'name': 'Manish Sharma', 'salary': 10000, 'position': 'Salesman'}
{'_id': ObjectId('5f4dd94cf4e46dcb745f5459'), 'eno': 2, 'name': 'Sandeep Singh', 'salary': 50000, 'position': 'Managing Director', 'hobby': 'Dancing'}
{'_id': ObjectId('5f4dd94cf4e46dcb745f545a'), 'eno': 3, 'name': 'Shilpa Khanna', 'salary': 25000, 'position': 'Senior Executive Officer', 'hobby': 'Dancing'}
{'_id': ObjectId('5f4dd94cf4e46dcb745f545b'), 'eno': 4, 'name': 'Mahesh Kumar', 'salary': 5000, 'position': 'Clerk'}

In [31]:
#Finding the records upto a certain limit
myresult = emp.find().limit(2)
for x in myresult:
  print(x)

{'_id': ObjectId('5f4dd88bf4e46dcb745f5455'), 'eno': 1, 'name': 'Manish Sharma', 'salary': 10000, 'position': 'Salesman'}
{'_id': ObjectId('5f4dd94cf4e46dcb745f5459'), 'eno': 2, 'name': 'Sandeep Singh', 'salary': 50000, 'position': 'Managing Director', 'hobby': 'Dancing'}